In [1]:
#Import library
import os
import csv
from pathlib import Path

In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# Read and store content
# of an excel file 
read_file = pd.read_excel ("2019 Winter Data Science Intern Challenge Data Set.xlsx")
  
# Write the dataframe object
# into csv file
read_file.to_csv ("Test.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
data= pd.DataFrame(pd.read_csv("Test.csv"))

In [4]:
data.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1.0,53.0,746.0,224.0,2.0,cash,2017-03-13 12:36:56.190
1,2.0,92.0,925.0,90.0,1.0,cash,2017-03-03 17:38:51.999
2,3.0,44.0,861.0,144.0,1.0,cash,2017-03-14 04:23:55.595
3,4.0,18.0,935.0,156.0,1.0,credit_card,2017-03-26 12:43:36.649
4,5.0,18.0,883.0,156.0,1.0,credit_card,2017-03-01 04:35:10.773

In [5]:
data['order_amount'].describe()

count      5000.000000
mean       3145.128000
std       41282.539349
min          90.000000
25%         163.000000
50%         284.000000
75%         390.000000
max      704000.000000
Name: order_amount, dtype: float64

# Question 1
On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

#### a. Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
 
   > shop_id 42 has 17 orders from user_id 17 for $704,000 each which skew the mean.
    A better way to evaluate the data would be to use the median as the AOV.
    
#### b. What metric would you report for this dataset?Â¶
   > The median is the metric I would use to report for thid dataset.

#### c. What is its value?
   > It's value to report for AOV on this dataset is $284.00.

In [6]:
data['order_amount'].median()

284.0